html{
    background-color:rgb(71, 70, 70);
}

#display{
    background:grey;
    display:flex;
    justify-content:end;

    width:470px;
    padding:10px;
    margin-bottom:10px;
}

/* .numBtn,
.opBtn{
    width:25px;
    height:auto;
} */

#clrBtn{
    width:150px;
}

button{
    width:60px;
    height:60px;
    font-size:30px;
}